/* fonts */
$main-font-family: 'Montserrat', sans-serif;
$semi-font-family: 'Kaushan Script', cursive;
$third-font-family: 'Roboto', sans-serif;

/* fonts-colors */
$main-font-color: rgb(0, 0, 0);
$semi-font-color: rgb(255, 255, 255);
$third-font-color: rgb(252, 227, 138);
$fourth-font-color: rgb(51, 51, 51);
$fifth-font-color: rgb(153, 153, 153);
$sixth-font-color: rgb(243, 129, 129);

/* bg-colors */
$main-bg-color: rgb(252, 227, 138);
$semi-bg-color: rgb(149, 225, 211);
$third-bg-color: rgb(243, 129, 129);

/* border-colors */
$main-border-color: rgb(243, 129, 129);
$semi-border-color: rgb(229, 229, 229);

/* svg-colors */
$main-svg-color: rgb(255, 255, 255);
$semi-svg-color: rgb(243, 129, 129);
