/* обязательно, и только так*/
html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit; /* наследование */
}

/* размеры страници */
.wrapper{
    width: 900px;
    margin: 0 auto;
    }
    header {
        padding-top: 30px;
        padding-bottom: 30px;
    }

/* мифические зазоры */
.wrapper-main{
    font-size: 0px;
    margin-bottom: 70px;
}

/*SITE NAVIGATION*/
.site-navigation {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 0px;
}
.site-navigation li {
    display: inline-block;
}
.item1 {
    margin-right: 120px;
}
.item2 {
    margin-right: 102px;
}
.item3 {
    margin-right: 96px;
}
.site-navigation a {
    display: block;
    list-style: none; /* маркеры списка */
    text-decoration: none;
    color: black;
    font-size: 14px;
    text-transform: uppercase;
    font-family: "PlayfairDisplay";
}
/* цвет при наведении на ссылку*/
.site-navigation a:hover,
.site-navigation a:focus {
    color: #03a9f4;
}

/* MAIN */
main {
    padding-top: 68px;
}
.article-item {
    display: inline-block;
    width: 420px;
    margin: 0px;
    margin-right: 60px;
    padding: 0px;
}
.article-item:nth-child(2n) {
    margin-right: 0px;
}
.article-item img{
margin-bottom: 30px;
}

/* !!! устраняем зазор строчно-блочных элементов
(зазор переноса строки, который равен 1/4 текущего шрифта родителя)
.article-item {font-size: 0px;}
и далее всем задаем шрифты локально*/
.descript {
    margin: 0px;
    font-size: 14px;
    font-family: "PlayfairDisplay";
    color: rgb(98, 98, 98);
    line-height: 1.714;
    text-align: left;
}
.art-title {
    margin: 0px;
    margin-bottom: 36px;
    font-size: 30px;
    font-family: "PlayfairDisplay";
    color: rgb(98, 98, 98);
    line-height: 1.2;
}
.img-name {
    margin: 0px;
    margin-bottom: 26px;
    font-size: 14px;
    font-family: "Ubuntu";
    color: rgb(180, 173, 158);
    text-transform: uppercase;
    line-height: 1.2;
}
.article-item {
    margin-bottom:135px;
}
.article-item:nth-last-child(-n+3) {
    margin-bottom: 0px;
}

/* button */
.o-my-button {
    display:block;
    margin: 0 auto;
    padding: 0;
    margin-top: 52px;
    width: 164px;
    height: 60px;
    font-size: 20px;
    font-family: "PlayfairDisplay";
    line-height: 1.2;
    color: black;
    background-color: white;
    /*border-style: solid;
    border-width: 1px;
    border-color: black;*/
    border:  1px solid #000000;
}
/* подсветка кнопки при переключении табом */
button:hover,
button:focus {
    color: #03a9f4;
}