/* general */
@import "./vars.css";

html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/*page size */
.wrapper{
    width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}
.clearfix::after {
    display: table;
    content: "";
    clear: both;
}

/*heder*/
.page-header {
    padding: 36px 15px;
}
.logo {
    margin: 0;
    float: left;
}
.logo-link {
    display: block;
    text-decoration: none;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    color: var(--main-font-color);
    text-transform: uppercase;
}
.logo-link::first-letter {
    color: var(--main-bg-color);
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
} 
.logo-link:hover,
.logo-link:focus {
    color: var(--main-bg-color);
    outline: none;
}
.site-navigation {
    float: right;
    margin: 0;
    padding-top: 12px;
}
.nav-link {
    display: block;
    text-decoration: none;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    color: var(--main-font-color);
    text-transform: uppercase;
    line-height: 0.786;
    font-weight: bold;
}
.nav-link:hover,
.nav-link:focus {
    color: var(--main-bg-color);
    outline: none;
}
.item {
    float: left;
    margin-right: 25px;
    list-style-type: none;
}
.item:last-child{
    margin-right: 0;
}
/* slider */
.wrapper-slider {
    position: relative;
    background-image:url(../img/slides/slide1.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 1600px;
    height: 600px;
    margin: 0 auto;
}
.wrapper-slider::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.522;
}
.slider {
    position: relative;
    min-height: 600px;
}
.slider-ctrl {
    border: none; /* мифический бордер button */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
    width: 104px;
    height: 104px;
    background-color:rgba(26, 188, 156, .8);
    z-index: 100;
}
.slider-ctrl:hover {
    cursor: pointer;
}
.slider-ctrl-prev {
    background-image:url(../img/icons/arrow-prev.png);
    background-repeat: no-repeat;
    background-position: center;
    left: 30px;
}
.slider-ctrl-next {
    background-image:url(../img/icons/arrow-next.png);
    background-repeat: no-repeat;
    background-position: center;
    right: 30px;
}
.slider-list {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 47%;
    left: 15%;
    transform: translateY(-50%);
}
.slider-title {
    margin: 0;
    margin-bottom: 25px;
    width: 790px;
    font-size: 60px;
    text-transform: uppercase;
    font-family: "Roboto";
    font-weight: bold;
    text-align: center;
    color: var(--semi-font-color);
    z-index: 100;
}
.slider-descr {
    margin: 0;
    padding-left: 20px;
    font-size: 24px;
    text-transform: uppercase;
    font-family: var(--main-font-family);
    color: var(--semi-font-color);
    z-index: 100;
}

/* MAIN */
/* section-products */
.main {
    padding: 0;
}
.section-products {
    padding: 100px 15px;
    background-color: rgb(233, 240, 253);
}
.section-title {
    margin: 0;
    padding: 0;
    margin-bottom: 80px;
    font-size: 48px;
    font-family: var(--main-font-family);
    color: rgb(81, 81, 81);
    text-transform: uppercase;
    text-align: center;
}
.section-title::after {
    display: block;
    height:30px;
    width: 162px;
    margin: 0 auto;
    content: "";
    border-bottom: 7px solid var(--main-bg-color);
}
.products {
    margin: 0 auto;
    padding: 0;
    list-style: none;
}
.item-products {
    position: relative;
    float: left;
    width: 255px;
    height: 322px;
    margin-right: 30px;
    margin-bottom: 0px;
}
.item-products:nth-child(4n) {
    margin-right: 0;
}
.img {
    float: left;
}
.name-product {
    float: left;
    margin: 0;
    width: 200px;
    background-color:var(--main-font-color);
    font-size: 18px;
    font-family: var(--main-font-family);
    color: var(--semi-font-color);
    text-transform: uppercase;
    text-indent: 12px; /* отступ слева */
    padding: 10px 0;
}
.price {
    margin: 0;
    float: left;
    width: 54px;
    background-color: #8c8c8c;
    font-size: 18px;
    font-family: var(--main-font-family);
    font-weight: bold;
    color: var(--semi-font-color);
    text-transform: uppercase;
    text-align: center;
    padding: 10px 0;
}
.item-products:hover .name-product {
    background-color: var(--main-bg-color);
}
.item-products:hover .price {
    background-color: rgb(127, 217, 199);
}

/* overlay */
.overlay-wrapper {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 282px;
    border: 10px solid rgba(255, 255, 255, 0.7);
    background-color: rgba(0, 0, 0, 0.549);
    cursor: pointer;
}
.overlay-wrapper:hover {
    opacity: 1;
}

/* overlay-list */
.overlay-list {
    list-style: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
}
/* li view*/
.item-prod {
    float: left;
    border: 1px solid var(--semi-font-color);
}
.item-like, .item-cross, .item-time {
    width: 50px;
    height: 50px;
    background-color: transparent;
    margin-bottom: 7px;
}
.item-like, .item-cross {
    margin-right: 10px;
}
.item-like {
    background-image: url(../img/icons/hart.png);
    background-repeat: no-repeat;
    background-position: center;
}
.item-cross {
    background-image: url(../img/icons/cross-arrows.png);
    background-repeat: no-repeat;
    background-position: center;
}
.item-time {
    background-image: url(../img/icons/clock.png);
    background-repeat: no-repeat;
    background-position: center;
}
.item-buy {
    background-image: url(../img/icons/trusk.png);
    background-repeat: no-repeat;
    background-position: 10% 50%;
    width: 170px;
    height: 50px;
    background-color: rgb(50, 50, 50);
    padding-left: 12px;
}

/* li hover*/
.item-like:hover {
    background-color: var(--main-bg-color);
}
.item-cross:hover {
    background-color: var(--main-bg-color);
}
.item-time:hover {
    background-color: var(--main-bg-color);
}
.item-buy:hover {
    background-color: var(--main-bg-color);
}

/* button */
.btn {
    border: none; /* мифический бордер button */
}
.like, .cross, .time {
    width: 50px;
    height: 50px;
    background-color: transparent;
}
.buy {
    width: 170px;
    height: 50px;
    background-color: transparent;
    text-decoration: none;
    font-size: 14px;
    font-family: "Open Sans";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-align: center;
}

/* footer */
.page-footer {
    height: 88px;
    background-color: rgb(50, 50, 50);
}
.page-footer p {
    margin: 0;
    padding-top: 40px;
    font-size: 16px;
    font-family: "Open Sans";
    color: var(--semi-font-color);
    text-align: center;
    text-transform: capitalize;
}
.page-footer span {
    word-spacing: -4px;
    color: var(--main-bg-color);
    text-transform: capitalize;
}