/*banner*/
@media (max-width: 767px) {
    .banner {
        background-color: black;
        background-image: url(../../img/banner-smart.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        min-height: 54rem;
        margin-bottom: 7rem;
        }
}
@media (min-width: 768px) and (max-width: 939px) {
    .banner {
        background-color: black;
        background-image: url(../../img/banner-tab.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        min-height: 70rem;
        margin-bottom: 7rem;
    }
}
@media (min-width: 940px) {
    .banner {
        background-color: black;
        background-image: url(../../img/banner-desc.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        min-height: 70rem;
        margin-bottom: 7rem;
    }
}
.page-header {
    padding-top: 2rem;
    display: flex;
    flex-flow: column-reverse wrap;
    margin-bottom: 4rem;
}
@media (min-width: 768px) and (max-width: 939px) {
    .page-header {
        display: flex;
        flex-flow: row wrap;
        min-height: 12rem;
        align-items: center;
        justify-content: space-between;
    }
}
@media (min-width: 940px) {
    .page-header {
        display: flex;
        flex-flow: row wrap;
        min-height: 11.4rem;
        align-items: center;
        justify-content: space-between;
        padding: 0;
        margin-bottom: 11rem;
    }
}
.logo {
    margin: 0 auto;
}
.logo-link {
    text-decoration: none;
    text-align: center;
    font-size: 2rem;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}
.logo-link:hover, .logo-link:active, .logo-link:focus {
    color: rgb(255, 0, 0);
}
.btn-wrap {
    margin: 0 auto;
    margin-bottom: 12rem;
}
@media (min-width: 768px) and (max-width: 941px) {
    .btn-wrap {
        margin: 0 auto;
    }
}
@media (min-width: 940px) {
    .btn-wrap {
        margin: 0 auto;
    }
}
.btn-log-in, .btn-sign-up {
    border-bottom: none;
    border: none;
    background-color: transparent;
    font-size: 1.4rem;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    font-weight: bold;
}
.btn-log-in::first-letter {
text-transform: uppercase;
}
.btn-sign-up::first-letter {
    text-transform: uppercase;
}
.btn-sign-up {
    border: 0.2rem solid rgb(255, 255, 255);
    border-radius: 1.5rem;
}
.btn-log-in:hover, .btn-log-in:active, .btn-log-in:focus {
    color: rgb(255, 0, 0);
    outline: none;
}
.btn-sign-up:hover, .btn-sign-up:active, .btn-sign-up:focus {
    color: rgb(255, 0, 0);
    border: 0.2rem solid rgb(255, 0, 0);
    outline: none;
}

/* slogan */
.title-section {
    font-size: 3rem;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    padding: 0 1rem;
    margin-bottom: 2rem;
}
@media (min-width: 768px) and (max-width: 939px) {
    .title-section {
        font-size: 5.2rem;
        padding: 0 13rem;
        margin-bottom: 4.5rem;
    }
}
@media (min-width: 940px) {
    .title-section {
        width: 50rem;
        padding: 0;
        margin: 0 auto;
        margin-bottom: 4rem;
    }
}
.title-section-semi {
    font-size: 1.8rem;
    font-family: "Roboto";
    color: rgb(255, 255, 255);
    text-align: center;
    margin: 0;
    padding: 0 4rem;
    opacity: 0.8;
    font-weight: 300;
    margin-bottom: 2rem;
}
.title-section-semi::first-letter {
    text-transform: uppercase;
}
@media (min-width: 768px) and (max-width: 939px) {
    .title-section-semi {
        font-size: 2.4rem;
        font-family: "Roboto";
        color: rgb(255, 255, 255);
        text-align: center;
        margin-bottom: 4rem;

    }
    .title-section-semi::first-letter {
        text-transform: uppercase;
    }
}
.btn-slogan {
    display: block;
    height: 4rem;
    width: 28rem;
    background-color: rgb(255, 0, 0);
    border-radius: 1.5rem;
    text-decoration: none;
    text-align: center;
    font-size: 1.4rem;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    font-weight: bold;
    padding: 1.2rem;
    margin: 0 auto;
}
.btn-slogan:hover, .btn-slogan:active, .btn-slogan:focus {
    color: rgb(255, 0, 0);
    background-color: rgb(255, 255, 255);
}